<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/modal.css">

    <title>Relógio</title>

    <link rel="icon" href="/assets/icon_awaken_icon-icons.com_54869 (1).ico">

    <link href="https://fonts.googleapis.com/css2? família=Chilanka&display=swap" rel="stylesheet">

    <style>
        html {
            font-family: 'Chilanka', cursive;
        }
    </style>

</head>

<body>

    <div id="page-index">

        <header>
            <img src="\assets\48px.ico" alt="relógio">
            <h1> Relógio </h1>

            <a href="/results"> Ver registros existentes</a>

        </header>

        <main>

            <h1>BEM VINDO!</h1>

            <h3>Cadastre novos gafanhotos de forma rápida e pratica sem ter que digitar várias linhas de código!</h3>

            <a href="#">Cadastrar novo gafanhoto</a>

            <div class="output">

                <p>{{bad}}</p>

            </div>

        </main>



    </div>

    <div id="modal" class="hide">

        <div class="header">

            <a href="#">Fechar</a>

        </div>

        <!-- formulário para post para passar dados secretamente e "action" é para onde será redirecionado após o cadastro -->
        <form action="/savepoint" method="POST">

            <fieldset>
                <legend>
                    <h1>Registro de gafanhotos</h1>
                </legend>

                <div class="field">
                    <label for="name">Nome</label>
                    <input type="text" name="name">

                </div>

                <div class="field-group">

                    <div class="field">
                        <label for="name">Profissão</label>
                        <input type="text" name="profession">
                    </div>
                    <div class="field">
                        <label for="name">Nascimento</label>
                        <input type="date" name="birth">
                    </div>

                </div>

                <div class="field-group">

                    <div class="field">
                        <label for="name">Sexo</label>
                        <input type="text" name="sex">
                    </div>
                    <div class="field">
                        <label for="name">Peso</label>
                        <input type="text" name="weight">
                    </div>

                </div>

                <div class="field-group">

                    <div class="field">
                        <label for="name">Altura</label>
                        <input type="text" name="height">
                    </div>
                    <div class="field">
                        <label for="name">Nacionalnameade</label>
                        <input type="text" name="nationality">
                    </div>

                </div>

            </fieldset>

            <button type="submit">Cadastrar</button>

        </form>

    </div>

    <script src="/scripts/index.js"></script>


</body>

</html>