#modal {
    background-color: #0E0A14ef;

    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;

    display: flex;

    transition: 400ms;
    
}

#modal.hide {
    display: none;
}

body form {
    padding: 64px;
    max-height: 730px;
    margin-right: 50%;

    display: flex;

    align-items: center;
}

form fieldset {

    border: 0;
    
}

fieldset legend h1 {
    background-color: #8a4fc0;
    border-radius: 8px;
    padding: 12px 36px;
    color: white;
}

form .field {
    flex: 1;
    display: flex;
    flex-direction: column;
}

form .field-group {
    display: flex
}

form input {
    padding: 12px 24px;
    border-radius: 8px;
    border: 0;
    margin-bottom: 16px;
    background-color: #dbdbdd;

    cursor: text;
}

form .field-group .field + .field {
    margin-left: 24px;
}

#modal .header {
    display: flex;
}

#modal .header a {
    text-decoration: none;

    font-size: bold;

    color: white;

    margin-top: 20px;

    height: 20px;
    
}

#modal fieldset label {
    color: white;

    font-weight: bold;

    margin-bottom: 8px;
}


