body {
    background-color: #1C1C1C;

    display: flex;

    flex-direction: column;

    align-items: center;
}

body .result {

    display: flex;

}


body .result .name {

    color: white;

    margin-bottom: 8px;

    font-size: 20px;

}

body .result .profession, .birth, .sex, .weight, .height, .nationality {

    font-weight: bold;

}

header {
    display: flex;
}

header a {
    text-decoration: none;

    color: #8a4fc0;

    font-weight: bold;

    margin-left: 1060px;

    margin-top: 24px;
}

body .content {
    
    height: 560px;
    width: 600px;

    margin: 24px 0 20px;

    background-color: #8a4fc0;

    border-radius: 8px;

    padding: 64px;

    box-sizing: border-box; /* Muda comprotamento de medição de espaço da caixa, para o conteúdo se modelar ao espaço definido da caixa */

    display: grid;

}